@use "../variables.scss";
/* Home Page */

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: azure;
  background: url(variables.resolveUrl("img/First-middle-background-page.jpg")) top no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Background complement */

.bg-complement-container {
  position: absolute;
  transform-style: preserve-3d;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.8;

  .bg-complement {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotate(33deg) rotateY(33deg) rotateX(50deg);
    opacity: 1 !important;

    div {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: 0.1s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(variables.resolveUrl("img/Moca-800.jpg"));
        clip-path: variables.$polygon-complement;
        background-size: 100%;
        transform: rotateX(90deg) translateZ(50px);
        opacity: 0.8;
      }

      &::after {
        transform: rotateX(-90deg) translateZ(50px);
      }
    }

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: variables.$polygon-complement;
      background: url(variables.resolveUrl("img/Tron-800.jpg"));
      background-size: 100%;
      transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
      opacity: 0.8;

      &:first-child,
      &:nth-child(2),
      &:last-child {
        background: url(variables.resolveUrl("img/Tron-800.jpg"));
        background-size: 100%;
      }
    }
  }
}
/* Menu style */

/* Arrows and bars in home top */

.con-up {
  font-size: 3em;
  color: var(--bs-white);

  .figure {
    width: 80%;
    height: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--bs-white);
    border-radius: 1.5em;
    transform: translateY(60px);
  }

  svg {
    width: 44px;
    height: 44px;
  }
}

/* Text of Welcoming */

.con-welcome {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;

  #h1 {
    margin: auto;
    font-size: 16vw;
    color: var(--bs-white);
    font-family: "Josefin Sans", "Chine Handwriting", "Franklin Gothic Medium",
      "Arial Narrow", Arial, sans-serif;
  }
}

.divi-content {
  top: 80%;
  left: 2%;
  color: var(--bs-white);
  font-style: italic;
  font-family: var(--bs-font-sans-serif);

  h4 {
    font-size: 4vw;
    font-weight: 500;

    .one-h {
      color: var(--bs-orange);
      font-family: var(--bs-font-sans-serif);
      font-style: none !important;
    }

    .str-h {
      color: var(--bs-yellow);
      font-family: var(--bs-font-monospace);
      font-style: normal;
    }
  }
}

.nav-home {
  position: absolute;
  top: 89%;
  width: 100%;
}
