@use "../variables.scss";
/* BODY And global things */

#body-work {
  background-color: var(--color-body-background);
  padding-bottom: 2em;
  overflow: hidden;

  .like-runes {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000000;

    /* Stripe effect */
    & > .div {
      position: absolute;
      width: 1em;
      height: 30%;
      top: 0%;
      left: 0%;
      background: var(--color-foreground);

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 120%;
        left: 0%;
        background: var(--color-foreground);
      }
      &::after {
        width: 100%;
        top: 240%;
      }

      /* Second stripe effect */

      &:nth-child(2) {
        width: 0.5em;
        left: initial;
        right: 0%;
      }

      &:nth-child(2)::before {
        width: 150%;
        top: 120%;
        left: initial;
        right: 0%;
      }

      &:nth-child(2)::after {
        width: 100%;
        top: 240%;
        left: initial;
        right: 0%;
      }
    }
  }
}

/* img */

#body-work img,
#body-work video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

/* Divitions */

div.divition {
  position: relative;
  margin: 4em auto;
  margin-bottom: 2em;
  width: 95%;
  height: 0.2em;
  background: var(--color-foreground-2);

  &:last-of-type {
    margin-bottom: 0.8em;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -150%;
    left: 50%;
    width: 4%;
    height: 1em;
    background: var(--color-body-background);
    transform: translateX(-50%);
    z-index: 800;
  }

  &::after {
    width: 1em;
    border-radius: 50%;
    z-index: 1000;
  }
}

/* Header */

header.header-work {
  width: 100%;
  height: max-content;
  background: var(--bs-white);

  #nav-work {
    padding: 0;

    .navbar-toggler {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    button {
      margin: auto;
    }
  }
}

.smoother-nav {
  position: relative;
  z-index: 10;
  transition: 0.5s !important;

  .bookmark {
    position: absolute;
    top: 0;
    left: -1em;
    z-index: 0;
    mix-blend-mode: lighten;
    transition: 0;
    opacity: 0;

    .bookmark-child {
      width: 80vw;
      height: 3em;
      background-color: #ff0000;
      clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
      transition: 0.5s;
      border-radius: 0 6% 6% 0;
    }
  }

  ul div {
    margin: auto;

    li {
      margin: auto;

      a {
        position: relative;
        z-index: 10;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 130%;
        text-transform: uppercase;
      }
    }
  }
}

/* nav li .active {
  color: #fff !important;
}
 */

/* First section */

section.banner-1 {
  .container {
    position: relative;
    padding: 1em 1.5em;
    background: var(--color-foreground);
    color: var(--bs-white);
    z-index: 100;
  }

  /* Section one h2 */
  h2 {
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
    font-weight: 700;
  }

  /* Section one p */
  p {
    margin-bottom: 15%;
    font-size: 110%;
    letter-spacing: 0.75px;
  }

  /* Section one banner img */

  .banner-1-img {
    width: 100%;
    height: 100%;
  }
}
/* Stripe effect */

.banner-1-div .container .div {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 100%;
  left: 0%;
  background: var(--color-foreground);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 120%;
    background: var(--color-foreground);
  }

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0%;
    left: 240%;
    background: var(--color-foreground);
  }

  /* Second stripe effect */

  &:nth-child(4) {
    width: 5%;
    left: 32%;
  }

  &:nth-child(4)::before {
    width: 200%;
    left: 150%;
  }

  &:nth-child(4)::after {
    width: 350%;
    left: 410%;
  }

  /* Third stripe effect */

  &:nth-child(5) {
    width: 5%;
    left: 72%;
  }

  &:nth-child(5)::before {
    width: 100%;
    left: 130%;
  }

  &:nth-child(5)::after {
    width: 261%;
    left: 300%;
  }
}

/* Section arrow caret */

.arrow-span-1 {
  width: max-content;
  margin: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;

  svg {
    fill: var(--color-foreground);
    animation: jumping 1s alternate;
    animation-delay: 1s;
    animation-iteration-count: 9;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(0);

    &:nth-child(2) {
      animation-delay: 1.125s;
    }

    &:last-child {
      animation-delay: 1.25s;
    }
  }
}

/* SECTION MAIN FOR SECTION 2/3 */

section.section-main div.div-img {
  position: relative;
  margin: 1.5rem;
  z-index: 990;
}

div.div-p,
.main-footer .div-p {
  margin: 2.5em;
  text-align: center;
  font-size: 115%;
}

/* Section 2 img */
section.section-2 div.div-img {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1%;
    left: -1%;
    background: var(--color-foreground);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
    background: var(--color-foreground);
    z-index: -1;
  }
}

/* Section 3 img */

section.section-3 div.div-img {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1%;
    left: 1%;
    background: var(--color-foreground);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3%;
    left: -3%;
    background: var(--color-foreground);
    z-index: -1;
  }
}

/* Footer */

.main-footer-bottom {
  display: grid;
  width: 100%;
  grid-template-columns: 24% 49% 24%;
  grid-template-rows: 100%;
  grid-auto-flow: dense;
  column-gap: 1%;
}

.main-footer-span {
  width: 4.5em;
  height: 4.5em;
  align-self: flex-end;
  justify-self: flex-end;
  border: none;
  background: none;

  &:first-child {
    justify-self: flex-start;
    transform: rotate(180deg);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}