@use "../variables.scss";
/* BODY And global things */

#body-work {
  background-color: var(--color-body-background);
  padding-bottom: 2em;
  overflow: hidden;

  .like-runes {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10000000;

    /* Stripe effect */
    & > .div {
      position: absolute;
      width: 1em;
      height: 30%;
      top: 0%;
      left: 0%;
      background: var(--color-foreground);

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 120%;
        left: 0%;
        background: var(--color-foreground);
      }
      &::after {
        width: 100%;
        top: 240%;
      }

      /* Second stripe effect */

      &:nth-child(2) {
        width: 0.5em;
        left: initial;
        right: 0%;
      }

      &:nth-child(2)::before {
        width: 150%;
        top: 120%;
        left: initial;
        right: 0%;
      }

      &:nth-child(2)::after {
        width: 100%;
        top: 240%;
        left: initial;
        right: 0%;
      }
    }
  }
}

/* img */

#body-work img,
#body-work video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

/* Divitions */

div.divition {
  position: relative;
  margin: 4em auto;
  margin-bottom: 2em;
  width: 95%;
  height: 0.2em;
  background: var(--color-foreground-2);

  &:last-of-type {
    margin-bottom: 0.8em;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -150%;
    left: 50%;
    width: 4%;
    height: 1em;
    background: var(--color-body-background);
    transform: translateX(-50%);
    z-index: 800;
  }

  &::after {
    width: 1em;
    border-radius: 50%;
    z-index: 1000;
  }
}

/* Header */

header.header-work {
  width: 100%;
  height: max-content;
  background: var(--bs-white);

  #nav-work {
    padding: 0;

    .navbar-toggler {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    button {
      margin: auto;
    }
  }
}

.smoother-nav {
  position: relative;
  z-index: 10;
  transition: 0.5s !important;

  .bookmark {
    position: absolute;
    top: 0;
    left: -1em;
    z-index: 0;
    mix-blend-mode: lighten;
    transition: 0;
    opacity: 0;

    .bookmark-child {
      width: 80vw;
      height: 3em;
      background-color: #ff0000;
      clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
      transition: 0.5s;
      border-radius: 0 6% 6% 0;
    }
  }

  ul div {
    margin: auto;

    li {
      margin: auto;

      a {
        position: relative;
        z-index: 10;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 130%;
        text-transform: uppercase;
      }
    }
  }
}