
/* Variables */

:root {
    --animate-duration: 1400ms;
}

.any-infinite {
    animation-duration: 2s;
    animation-delay: 12s;
    animation-iteration-count: infinite;
}
/* Home Page */

.home {
    position: relative;
    height: 100vh;
    background: url(/img/bg-home.jpg) center no-repeat;
}

/* Background complement */

.bg-complement {
    position: absolute;
    opacity: 0;
}

.img-bg-c {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Menu style */

.menu {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000000;
    width: 100vw;
    height: 100vh;
}

.menu-row {
    width: 90%;
}

.menu-row .container:first-child{
    background: var(--bs-dark);
    color: var(--bs-white);
}

.menu-row .container:nth-child(2),
.menu-row .container:nth-child(3){
    background: var(--bs-white);
    color: var(--bs-dark);
    border-right: 4px solid var(--bs-dark);
}

.menu-row .container:nth-child(3){
    border-right: none;
    border-left: 4px solid var(--bs-dark);
}

.menu-row .container{
    border: 2px solid var(--bs-white);
}

.ic {
    font-size: 2em;
}

.menu-row .container h2 {
    font-size: 5vw;
}

.aside-menu {
    background: var(--bs-gray-dark);
    width: 10%;
    height: 100vh;
    min-width: 80px;
}

/* Arrows and bars in home top */

.con-up {
    font-size: 3em;
    color: var(--bs-white);
}

.figure {
    width: 80%;
    height: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--bs-white);
    border-radius: 1.5em;
    transform: translateY(60px);
}

/* Text of Welcoming */

.con-welcome {
    width: 80%;
    margin-left: 0;
    animation-delay: 6s;
}

#h1 {
    font-size: 19.5vw;
    color:var(--bs-white);
    font-family: "Josefin Sans","Chine Handwriting",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(20vh);
}

.divi-content {
    top: 90%;
    left: 2%;
    color: var(--bs-white);
    font-style: italic;
    font-family: var(--bs-font-sans-serif);
}

.divi-content h4 {
    font-size:4vw;
    font-weight: 500;
}

.one-h {
    color: var(--bs-orange);
    font-family: var(--bs-font-sans-serif);
    font-style: none !important;
}

.str-h {
    color: var(--bs-yellow);
    font-family: var(--bs-font-monospace);
    font-style: normal;
}

/* About page */

.about {
    position: relative;
    background: var(--bs-dark) center no-repeat;
}   

.closed {
    height: 100vh;
}

.open {
    height: 230vh;
}

.overlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-white);
    z-index: 900000;
    text-align: center;
}

.div-overlay {
    transform: translateY(20vh);
}

.text-overlayer {
    font-size: 3.5em;
}

.btn-layerover {
    width: 3.5em;
}

.btn-display-about {
    font-size: 3.5em;
    animation: colorado 2s alternate infinite;
    animation-timing-function: ease-in-out;
}

.about-div {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/* About animations svgs */

.svg-div{
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.svg-square, .svg-triangle, .svg-polygon {
    fill: var(--bs-white);
}

.svg-line {
    fill: none;
    stroke: var(--bs-white);
    stroke-width: 3.5px;
}

/* absolute btn-change-img */

.bbtn {
    position: absolute;
    top: 1.5%;
    left: 15%;
    width: 1.5em;
}

.btn-change-img {
    color: var(--bs-white);
    font-size: 1.5em;
}

.btn-c-div-2{
    top: 18.5%;
}

/* Photoshop Simón Bolivar with me */

.me {
    width: 50vw;
}

.me-div-sub {
    position: relative;
    border: 2px solid var(--bs-white);
    border-radius: .5%;
    padding: 0;
}

.mds-2 {
    border-color: var(--bs-orange);
}

/* Simon Antonio */
.container-simon-antonio,
.container-antonio-simon {
    border-left: 2px solid var(--bs-white);
    border-bottom: 2px solid var(--bs-white);
    position: relative;
    top: 15px;
    left: -8%;
    width: 100%;
    padding: .3rem;
}

.container-antonio-simon {
    border-color: var(--bs-orange);
}

.front {
    position: relative;
    z-index: 5000;
}

.back {
    position: absolute;
    top: -15px;
    left: 8%;
    z-index: 1000;
}

.container-antonio-simon img,
.container-simon-antonio img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Text about me */

.about-me {
    position: relative;
    z-index: 50;
    color: var(--bs-white);
    margin-left: .5rem;
    width: 80vw;
    border-left: 2px solid var(--bs-white);
}

.title-me div {
    flex-basis: 80%;
}

.title-me h3 {
    border-bottom: 1.5px solid var(--bs-orange);
}

.title-me span {
    border-right: 1.5px solid var(--bs-orange);
    flex-basis: 20%;
    text-align: end;
}

.ninja-icon {
    font-size: 1.5em;
}

.text-container {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--bs-orange);
}

.text {
    font-family: var(--bs-font-monospace);
    overflow-y: auto;
}

/* Mini yo */

.ilustration-container {
    position: relative;
    width: 80vw;
    margin-left: .5rem;
    border-bottom: 2px solid var(--bs-white);
}

.container-mini-yo {
    width: 60%;
}

.mini-yo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn-display-abs {
    position: absolute;
    color: var(--bs-orange);
    font-size: 1em;
    width: 1em;
    text-align: center;
}

.btn-display-abs:first-child {
    left: 63%;
    top: 55%;
}

.btn-display-abs:nth-child(2) {
    left: 43%;
    top: 6%;
}

.btn-display-abs:nth-child(3) {
    left: 25%;
    top: 55%;
}

.btn-display-abs:nth-child(4) {
    left: 43%;
    top: 34%;
}

/* My abilities */

.div-abilities {
    display: none;
    position: absolute;
    top: 0;
    left: -5%;
    margin-left: 7vw;
    width: 70vw;
    color: var(--bs-white);
}

.btn-closer-abs {
    color: var(--bs-orange);
    font-size: 1em;
    width: 1em;
}

.abilities {
    background-color: var(--bs-white);
    color: var(--bs-dark);
    padding: 5%;
    font-family: var(--bs-font-sans-serif);
}

.ol {
    padding: 0;
    padding-top: .5rem;
    background-color: var(--bs-gray-100);
    border-right: 1px solid var(--bs-white);
    border-left: 1px solid var(--bs-white);
}


.ab {
    padding: .5rem;
    width: 100%;
    list-style: none;
    background-color: var(--bs-dark);
    color: var(--bs-white);
    border-bottom: 1px solid var(--bs-white);
    border-radius: 10%;
} 

.ability {
    font-size: 120%;
    font-family: var(--bs-font-monospace);
}
 
h5 {
    font-family: var(--bs-font-monospace);
}

.star-white {
    color: var(--bs-orange);
}

.star-black {
    color: var(--bs-white);
}

.level {
    border-radius: 3%;
    text-align: end;
    font-size: .6em;
}

/* Contact */

.contact {
    position: relative;
    height: 100%;
    background-color: var(--bs-orange);
}

.nav-contact-icon-span {
    width: 4.5em;
    border: none !important;
}

.nav-contact-icon-span img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.div-contact {
    margin: 0;
    padding: 0;
    background-color: var(--bs-white);
}

.contact-row {
    background: var(--bs-orange);
}

.contacts {
    font-size: 3em;
    padding: 1em;
    color: var(--bs-white);
}

.contacts:first-child,
.contacts:nth-child(2) {
    background: var(--bs-orange);
    border-right: 3px solid var(--bs-gray-400);
    border-bottom: 5px solid var(--bs-gray-400);
}

.contacts:nth-child(2) {
    border-right: none;
    border-left: 3px solid var(--bs-gray-400);
}

.contacts:nth-child(3),
.contacts:last-child {
    background: var(--bs-gray-400);
    border-right: 3px solid var(--bs-orange);
    border-top: 5px solid var(--bs-orange);
    border-bottom: 5px solid var(--bs-gray-400);
}

.contacts:last-child {
    border-right: none;
    border-left: 3px solid var(--bs-orange);
}

.footer {
    width: 100%;
    padding: 0;
    background: var(--bs-orange);
    font: var(--bs-body-font-weight) var(--bs-font-monospace);
}

.footer blockquote b {
    color: var(--bs-white);
    font-size: 130%;
}

.goodbye {
    color:var(--bs-white);
    font-size: 110%;
}

.h6 {
    color:var(--bs-gray-700);
}

/* Key frames */

@keyframes colorado {
    0%{
        color: var(--bs-dark);
    }

    100%{
        color: var(--bs-gray-500);
    }
}

/* Media queries */

/* Highest phones */
@media screen and (max-width:575px) and (min-height:801px){
    /* About open */
    .open {
        height: 220vh;
    }

    .contact {
        height: 100vh;
    }
}

/* Landscape phones */
@media screen and (min-width:576px){   

/* Home page */
.home {
    height: 100%;
}

#h1 {
    font-size: 13vw;
    transform: translate(18vw,10vh);
}

.divi-content h4 {
    font-size: calc(1.25rem + 0.3vw);
}


/* About page */
.open {
    height: 145em;
}   

.btn-c-div-2{
    top: 22%;
}

.btn-display-abs:first-child {
    left: 68%;
    top: 55%;
}

.btn-display-abs:nth-child(3) {
    left: 25%;
    top: 55%;
}

/* Contact page */

.contact {
    height: 100vh;
}

.contacts {
    padding: .5em;
}

.footer blockquote b {
    font-size: 100%;
    font-weight: bold;
}

.goodbye {
    font-size: 80%;
}

}

/* Tablets and anothers */
@media screen and (min-width:768px){

    /* Home page */
.home {
    height: 100vh;
}

/* About page */
.open{
    height: 180em;
}   

.btn-c-div-2 {
    top: 23%;
}


.ninja-icon {
    font-size: 2em;
}

.text {
    font-size: 120%;
}

.ilustration-container {
    margin-left: 5vw;
    width: 75%;
}

.btn-display-abs {
    font-size: 1.5em;
    width: 1.5em;
}

.btn-display-abs:first-child {
    left: 68%;
    top: 55%;
}

.btn-display-abs:nth-child(2) {
    left: 45%;
    top: 7%;
}

.btn-display-abs:nth-child(3) {
    left: 25%;
    top: 55%;
}

.btn-display-abs:nth-child(4) {
    left: 45%;
    top: 33%;
}

.ability {
    font-size: 130%;
    font-family: var(--bs-font-monospace);
}

.level {
    font-size: .8em;
}

/* conctact page */

.contact {
    background-color: var(--bs-dark);
}


.div-contact {
    margin: 0;
    padding: 0;
    background-color: var(--bs-white);
}

.contact-row {
    background: var(--bs-dark);
}

.contacts {
    color: var(--bs-red);
}

.contacts:first-child,
.contacts:nth-child(2) {
    background: var(--bs-dark);
    border-right: 3px solid var(--bs-gray-400);
    border-bottom: 5px solid var(--bs-gray-400);
}

.contacts:nth-child(2) {
    border-right: none;
    border-left: 3px solid var(--bs-gray-400);
}

.contacts:nth-child(3),
.contacts:last-child {
    border-top: var(--bs-dark);
    border-radius: 0 0 30% 30%;
    background-color: var(--bs-white);
}

.contacts:nth-child(3) {
    border-right: var(--bs-gray-400);
}

.contacts:last-child {
    border-left: var(--bs-gray-400);
}

.footer {
    border-radius: 25% 25% 0 0;
    background-color:var(--bs-white);
}

.footer blockquote b {
    font-size: 90%;
    color: var(--bs-dark);
}

.goodbye {
    color: var(--bs-dark);
}

.h6 {
    color: var(--bs-orange);
}

}

/* Desktops */
@media screen and (min-width:992px){
    
    /* Home page */
    .home {
        overflow-y: hidden;
    }

    .bg-complement {
        width: 40vw;
        opacity: .7;
        left: 27.5%;
        top: 19%;
    }   

    #h1 {
        text-align: center;
        transform: translate(6vw,10vh);
    }

    /* About page */
    .open {
        height: 120em;
    }

    /* svgs forms */

    .svg-div{
        display: block;
    }
    

    /* absolute btn-change-img */

.btn-c-div-1 {
    left: 44%;
}

.btn-c-div-2 {
    left: 53%;
    top: 1.5%;
    transform: rotateY(180deg); 
}

    /* Photoshop Simón Bolivar with me */

.flexing {
    display: flex;
}

.me {
    width: 35vw;
}

/* Antonio Simon */

.container-antonio-simon {
    border:none;
    border-right: 2px solid var(--bs-orange);
    border-bottom: 2px solid var(--bs-orange);
    top: 15px;
    left: 8%;
}

.backtwo {
    position: absolute;
    top: -15px;
    left: -8%;
    z-index: 1000;
}

  /* About me */

.about-me {
    margin-left: 5vw;
}

.title-me h3 {
    font-size: 200%;
}

.ilustration-container {
    width: 90vw;
    max-width: 90vw;
    height: 100vh;
    margin: 0;
    border: none;
    z-index: 100;
    border-right: 2px solid var(--bs-orange);
}

.container-mini-yo {
    width: 25%;
    transform: translateY(30%);
}


.btn-display-abs {
    z-index:1000;
    padding: 0;
    border: 1px solid var(--bs-orange);
    border-radius: 50%;
}

.btn-display-abs::after {
    position:absolute;
    content: ".";
    clip-path: polygon(0% 25%, 50% 25%, 50% 0%, 100% 50%, 50% 100%, 50% 75%, 0% 75%);
    width: 1.5em;
    height: 1.5em;
    color: var(--bs-white);
    background-color: var(--bs-orange);
    transform: translateX(-85%) 
    translateY(100%) rotate(270deg);
}

.btn-display-abs:active{
    color: var(--bs-white);
    border: 2px solid var(--bs-white);
}

.btn-display-abs:first-child {
    left: 80%;
    top: 60%;
}

.btn-display-abs:nth-child(2) {
    left: 75%;
    top: 10%;
}

.btn-display-abs:nth-child(3) {
    left: 20%;
    top: 40%;
}

.btn-display-abs:nth-child(4) {
    left: 25%;
    top: 5%;
}

/* Abilities */


.div-abilities {
    display: none;
    width: 30vw;
}

.graphic__design {
    top: 60%;
    left: 60%;
}

.langs {
    top: 10%;
    left: 55%;
}

.programming {
    top: 40%;
    left: -5%;
}

.attrs {
    top: 5%;
    left: 0%;
}

.footer {
    justify-content: end;
}

.footer blockquote b {
    font-size: 130%;
}

.header-foot {
    margin-bottom: 3%;
}

}

/* Large desktops */
@media screen and (min-width:1200px){

    /* Home page */

    .bg-complement {
        width: 25vw;
        left: 35%;
        top: 26%;
   }   

    /* About page */
    .open {
        height: 125em;
    }

        /* absolute btn-change-img */


    .div-abilities {
        width: 25vw;
    }

    .ilustration-container {
        max-width: 90vw;
    }
}

/* Ultra large desktops */
@media screen and (min-width:1400px){
   .open {
       height: 130em;
   } 

   .container-mini-yo {
       transform: none;
   }
}

/* Hyper Ultra large Screen */
@media screen and (min-width:1800px){
    .open {
        height: 150em;
    } 
 }
 