@media screen and (max-width:992px) {
    .preload {
        opacity: 0;
    }
}

.preload {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bs-white);
    z-index: 1000000;
    text-align: center;
}

.svg {
    height: 95vh;
    width: 95vw;
}

.svg path {
    fill: none;
    stroke: #00f;
    stroke-width: 1.5px;
    stroke-dasharray: 500px;
}

@keyframes movimiento {
    0% {
        stroke-dashoffset: 500px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
};