<div class="d-flex flex-column flex-shrink-0 bg-light float-end text-center" style="width: 4.5rem; height: 100%;">
  <span class="container py-3 mb-5 border-bottom">
    <img src="/img/icon.png">
  </span>

  <div class="container-sm py-3 abrir">
    <div class="btn btn-secondary" type="button" role="button">
      <i class="fas fa-bars" style="font-size:1.5em"></i>
    </div>
  </div>

  <ul class="nav nav-pills flex-column mt-auto">
    <li>
      <a class="nav-link py-3 border-bottom bg-dark contact__link" aria-current="page" title="facebook">
        <i class="fab fa-facebook" style="font-size: 1.5em; color:var(--bs-white);"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom bg-dark contact__link" title="twitter">
        <i class="fab fa-twitter" style="font-size: 1.5em; color:var(--bs-white);"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom bg-dark contact__link" title="instagram">
        <i class="fab fa-instagram" style="font-size: 1.5em; color:var(--bs-white);"></i>
      </a>
    </li>
    <li>
      <a class="nav-link py-3 border-bottom bg-dark contact__link" title="github">
        <i class="fab fa-github" style="font-size: 1.5em; color:var(--bs-white);"></i>
      </a>
    </li>
  </ul>
</div>

<div class="menu" hidden="">
  <div class="row menu-row flex-grow-1">
    <div class="container cs col-12 d-flex flex-column align-items-center
    justify-content-center">
    <div class="text-center menu-link" title="home">
      <i class="fas fa-igloo ic"></i>
      <h2 class="h2-menu">Home</h2>
    </div>
    </div>
    <div class="container cs col-6 d-flex flex-column align-items-center
    justify-content-center">
    <div class="text-center menu-link" title="about">
      <i class="fas fa-user-astronaut ic"></i>
      <h2 class="h2-menu">About</h2>
    </div>
    </div>
    <div class="container cs col-6 d-flex flex-column align-items-center
    justify-content-center">
    <div class="text-center menu-link" title="contact">
      <i class="fas fa-passport ic"></i>
      <h2 class="h2-menu">Contact</h2>
    </div>
    </div>
  </div>
  <div class="aside-menu">
    <div class="container-sm py-3 d-flex justify-content-center cerrar">
      <div class="btn" type="button" role="button" style="background-color: var(--bs-red);">
        <i class="fas fa-warehouse" style="font-size:1.9em"></i>
      </div>
    </div>
  </div>
</div>