// Home page or welcoming page
div(class="home", id="Home")
  div(class="bg-complement-container")
    div(class="bg-complement")
      div
        span(style="--i:1")
        span(style="--i:2")
        span(style="--i:3")
        span(style="--i:4")

  //- Top container arrow
  div(class="container-fluid con-up")

    div(class="row")
      div(class="container col-4 d-flex justify-content-center")
        div(class="figure")
      span(class="container py-3 mb-5 col-4 text-center")
        svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-arrow-up animate__animated animate__shakeY any-infinite", viewBox="0 0 16 16")
          path(fill-rule="evenodd", d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z")
      div(class="container col-4 d-flex justify-content-center")
        div(class="figure")

  //- Welcome message
  div(class="container-fluid con-welcome")
    h1(class="h1", id="h1") Welcome

  //- Mini decorations
  div(class="position-absolute divi-content")
    h4 
      i(class="one-h") const 
      | portfolio
      i(class="one-h") =
      i(class="str-h") "Cv-online" ;

  include nav.pug