// Polyfill
script(src="/js/polyfill.bundle.min.js", type="application/javascript")
// App
script(src="/js/app.bundle.min.js", type="application/javascript")
// Vendor
script(src="/js/vendor.bundle.min.js", type="application/javascript")