doctype html
html(lang="en", style="background-color: #010101")
  include head/head.pug

  body(allow="fullscreen *")
    .body#body
      include elements/preload.pug

      // Contact page
      // Main
      div(id="page")

      // Home page or welcoming page
      include elements/home.pug

      //- Scripts
      include scripts/scripts.pug