@import "variables.scss";
/* Contact */

.contact {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: var(--bs-dark);

  .btn.btn-secondary {
    position: relative;
    z-index: 31000;
  }

  .nav-contact-icon-span {
    width: 4.5em;
    border: none !important;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .div-contact {
    margin: 0;
    padding: 0;
    background-color: var(--bs-white);

    .contact-row {
      background: var(--bs-dark);
    }
  }
}

.contact-row .contacts {
  position: relative;
  padding: 1em;
  color: var(--bs-red);

  &:first-child {
    background: var(--bs-dark);
    border-right: 3px solid var(--bs-gray-400);
    border-bottom: 5px solid var(--bs-gray-400);
  }

  &:nth-child(2) {
    @extend .contacts, :first-child;
    border-right: none;
    border-left: 3px solid var(--bs-gray-400);
  }

  &:nth-child(3) {
    background-color: var(--bs-white);
    border-radius: 0 0 30% 30%;
    border-top: 5px solid var(--bs-white);
    border-right: 3px solid var(--bs-gray-400);
    border-bottom: 5px solid var(--bs-gray-400);
  }

  &:last-child {
    @extend .contacts, :nth-child(3);
    border-right: none;
    border-left: 3px solid var(--bs-gray-400);
  }

  .linkedIN {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 0 0 30% 30%;
    background-color: var(--bs-dark);
    transform: translateY(-5px);
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

/* FORM CONTACT */

.contact-body {
  position: relative;
  width: 100%;
  height: 10vh;
  text-align: center;
}

.toast-contact {
  position: absolute;
  right: 50%;
  bottom: 2%;
  width: 275px;
  height: 150px;
  transform: translateX(50%);
  border-radius: 3%;
  transition: 0.5s;
  padding: 0.8em;
  opacity: 0;

  h5 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 0.5px;
    color: var(--bs-light);
  }

  p {
    font-family: sans-serif;
    color: var(--bs-light);
  }
}

.denied-toast {
  opacity: 1;
  background-color: var(--bs-danger);
}

.success-toast {
  opacity: 1;
  background-color: var(--bs-success);
}

button.contact-body-button {
  width: 3em;
  height: 3em;
  background: none;
  border: none;
  cursor: pointer;

  svg {
    color: var(--bs-white);
    width: 2.5em;
    height: 2.5em;
  }
}

/* CONTACT BODY PRINCIPAL PART */

.contact-body-div {
  position: absolute;
  width: 100%;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: var(--bs-dark);
  overflow: hidden;
  z-index: 20000;
  color: #fff;
  border-radius: 0 0 15% 15%;
}

.contact-body-active {
  height: 100vh;
  min-height: 70vh;
  max-height: 140vh;
}
/* NFT GIFT */

.contact-nft-gift {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 0 0 0 15%;

  .div-nft-gift {
    position: relative;
    min-width: 200px;
    min-height: 200px;
    max-width: 230px;
    max-height: 230px;
    aspect-ratio: 1/1;
    margin-top: 0.5em;
    border: medium solid #fff;

    &-hover-1,
    &-hover-2 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #000;
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
      transform: scale(1.003);
      transform-origin: left top;
      transition: 1s;
    }

    &-hover-2 {
      background: #222;
      clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
      transform-origin: bottom right;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }
  a {
    margin-top: auto;
  }

  button {
    width: 3.5em;
    height: 3.5em;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: auto;

    svg {
      color: white;
      width: 3em;
      height: 3em;
    }
  }
}

.nft-gift-active {
  &:hover {
    .div-nft-gift-hover-1,
    .div-nft-gift-hover-2  {
      transform: scale(0);
    }
  }

  &:focus {
    .div-nft-gift-hover-1,
    .div-nft-gift-hover-2  {
      transform: scale(0);
    }
  }
}

/* FORM */
.contact-div-form {
  width: 100%;
  height: 90%;
  margin-left: auto;
  border-radius: 0 0 15% 0;
}

.contact-sub-div-form {
  min-width: 35%;
  min-height: 80%;
  max-width: 55%;
  max-height: 90%;
  aspect-ratio: 1/1;
  margin: auto;
  margin-top: 0.5em;
}

.contact-input-name-div input,
.contact-input-message-div textarea,
.contact-input-email-div input {
  width: 94%;
  padding: 2%;
  margin: 3%;
  border: none;
  outline: none;
  resize: none;
  background: linear-gradient(to top, var(--bs-dark) 5%, #fff 10%);
}

.contact-button-submit-div {
  position: absolute;
}

.contact-button-submit-div button {
  width: 3em;
  height: 3em;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;

  svg {
    width: 2.5em;
    height: 2.5em;
    transform: rotate(45deg);
  }
}
/* Hidden NFTs Menu */

/* There is a problem with the Z-Index because the nft-items
appear over all the elements */

.menu-nft {
  width: 3.5em;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
  top: 0;
  z-index: 30000;
  transform: translateX(-100%);
  mix-blend-mode: difference;
  transition: 0.5s;

  .menu-nft-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 20%;
    margin: 1em 0.5em;
    padding: 0 1.5em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .nft-item-detail-div {
      width: 100%;
      height: 0;
      background: linear-gradient(to bottom, var(--bs-dark) 5%, #1b1b1b 10%);
      overflow: hidden;
      color: #fff;
      transition: 0.5s;
      border-bottom: 2px solid var(--bs-light);
    }

    .nft-item-detail-active {
      height: 20vh;
      padding: 1em 0.5em;
      h3 {
        margin-bottom: 0.5em;
      }
    }

    &-portrait {
      position: relative;
      width: 20vh;
      height: 20vh;
      margin: 0.5em 0;

      .nft-item-price-div {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #111;
        color: #fff;
        transition: 0.5s;
      }

      .nft-item-price-hidden {
        opacity: 0;
      }
    }
  }

  button.menu-nft-button {
    position: relative;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: var(--bs-red);
    left: 1em;
    z-index: 40000;
    transition: 0.5s;

    svg {
      width: 2em;
      height: 2em;
      color: var(--bs-dark);
      transition: 0.5s;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2em;
      height: 2em;
      left: -10px;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      clip-path: ellipse(100% 30% at 0% 100%);
      background: var(--bs-red);
      transform: rotate(-90deg);
      transition: 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      left: 12px;
      top: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      background: var(--bs-red);
      transition: 0.5s;
    }
  }

  &-active {
    width: 20em;
    mix-blend-mode: normal;
    z-index: 40000;

    button.menu-nft-button {
      background: var(--bs-dark);

      svg {
        color: var(--bs-white);
      }

      &::before {
        left: -5px;
        background: var(--bs-dark);
      }

      &::after {
        left: 20px;
        top: 28px;
        background: var(--bs-dark);
      }
    }

    .menu-nft-div {
      overflow-y: auto;
      background: var(--bs-dark);
      border-radius: 10% 0 0 10%;
    }

    .menu-nft-item {
      width: 100%;
    }
  }

  &-div {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bs-red);
    overflow: hidden;
    transition: 0.5s;
    border-radius: 45% 0 0 300%;
  }
}

/* Footer */

.footer {
  width: 100%;
  padding: 0;
  border-radius: 25% 25% 0 0;
  background: var(--bs-white);
  font: var(--bs-body-font-weight) var(--bs-font-monospace);

  blockquote b {
    color: var(--bs-dark);
    font-size: 105%;
  }

  .goodbye {
    color: var(--bs-dark);
    font-size: 105%;
  }

  .h6 {
    color: var(--bs-orange);
  }
}
