@use "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

.menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background-color: var(--bs-gray-800);

  &-base-body {
    width: 100%;
    height: 75%;
  }

  &-base-footer {
    transition: clip-path 0.5s;
    clip-path: polygon(100% 35%, 100% 100%, 0 100%, 0 0, 50% 60%);
    width: 100%;
    height: 0;
    margin-top: 25%;
    background: var(--bs-dark); 
  }

  div > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 14px;
        
    &:hover, &:focus {
      outline-offset: 3px;
      outline: 3px solid var(--bs-gray-100);
      box-shadow: 0 5px 20px 4px var(--bs-orange);
    }

  }
}

.menu-base-body {
  .menu-button-div {
    position: absolute;
    top: 2%;
    left: 1%;

    button {
      background-color: var(--bs-dark);
      color: var(--bs-gray-200);
      width: 36px;
      height: 36px;
      border-radius: 10px;
      box-shadow: 0 2px 5px 2px variables.$color-shadow;

      &:hover, &:focus {
        outline-offset: 2px;
        outline: 2px solid var(--bs-gray-500);
      }
    }
  }

  .menu-items-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    & > .menu-item {
      min-width: 270px;
      width: 20vw;
    }
  }
}

.menu-item {
  a {
    display: block;
    width: 20vw;

    div {
      margin: auto;
      width: 20vw;
      height: 13vw;
    }
  }

  h3 {
    margin-left: 1rem;
    line-height: 2;
    font-size: 1.5rem;
    color: var(--bs-white);
    font-family: "Dosis";

    svg {
      margin-right: 0.5rem;
    }
  }
}